extends layout

block content
  h1= title
  p Welcome to #{title}
  #todoContainer.container
    #todoEntry.entry
        input(type='text' id='todoEntry' class='inputEntry')
    #todoAction.action
        a(id='add' href='#') Add
